.wrapper {
  --search-box-border: 92px;
  --search-btn-width: 52px;
  width: 100%;
  height: var(--default-layout-header-height);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
}

.search,
.search-result {
  width: 500px;
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 600;
}

.search {
  position: relative;
  height: 46px;
  display: flex;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-box-border);
  padding-left: 16px;
  border: 1.5px solid transparent;
  input {
    caret-color: var(--primary);
    flex: 1;
    height: 100%;
    padding: 12px;
    color: #828282;
    font-size: 1.6rem;
    background-color: transparent;
  }
  input:not(:placeholder-shown) ~ .search-btn {
    color: rgb(85, 82, 82);
  }
  &::after {
    content: '';
    position: absolute;
    height: 28px;
    width: 1px;
    right: var(--search-btn-width);
    top: 9px;
    background-color: rgba(22, 24, 35, 0.34);
  }
  &:focus-within {
    border-color: #123;
  }
}

.clear-search,
.loading {
  position: absolute;
  right: calc(var(--search-btn-width) + 20px);
  top: 50%;
  transform: translateY(-50%);
  color: rgb(85, 87, 88);
}

.search-btn {
  border-bottom-right-radius: var(--search-box-border);
  border-top-right-radius: var(--search-box-border);
  width: var(--search-btn-width);
  height: 100%;
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);
  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }
  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

.action {
  display: flex;
  align-items: center;
}

.action-btn {
  font-size: 2.4rem;
  color: #161823;
  cursor: pointer;
  padding: 4px 12px;
}

.user-avatar {
  width: 32px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 12px;
}

.btn-more {
  font-size: 2rem;
  margin-left: 24px;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
}
